<nav class="navbar navbar-expand-lg navbar-success bg-success">
    <div class="container-fluid">
      <!-- Espacio para el logo -->
      <a class="navbar-brand" href="">
        <img src="assets/images/logo.png" alt="Logo" width="40" height="40" class="d-inline-block align-text-top">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
      </button>
  
      <!-- Botón "Once Unidos Squash" -->
      <a class="navbar-brand text-white" href="">Once Unidos Squash</a>
  
      <!-- Botón "Ingresar" a la derecha -->
      <button class="btn btn-outline-light ms-auto" type="button" [routerLink]="['/login']" routerLinkActive="active">Ingresar</button>
    </div>
  </nav>
  