.date-box {
    background-color: #fff;
    padding: 20px;
    border-radius: 4px;
    text-align: center;
    margin-bottom: 5px;
  }
  
  .time-box {
    background-color: #ffffff;
    color: black; /* Color del texto */
    width: 70px;
    height: 70px;
    text-align: center;
    line-height: 70px;
    border-radius: 4px;
    margin-bottom: 10px;
    margin-right: 2px; /* Margen entre horarios */
    font-size: 15px;
    font-style: oblique;
    flex-shrink: 0;
  }
  
  .expandable-box {
    background-color: #e9ecef;
    width: 70px;
    height: 70px;
    border-radius: 4px;
    margin-top: 2px;
  }
  
  .expandable-box.expanded {
    width: 140px ;
    height: 70px;
    text-align: center;
    margin-left: 2px;
    margin-right: 2px;
    font-size: 20px;
  }

  .grid {
    display: flex; /* Alinea los elementos en una fila */
    flex-wrap: nowrap; /* Evita que los elementos se envuelvan en la siguiente fila */
    overflow-x: scroll; /* Permite el scroll horizontal si los elementos se salen del contenedor */
    white-space: nowrap; /* Evita que los elementos se rompan a la siguiente línea */
    width: max-content; /* Hace que el contenedor se expanda según el contenido */
}