<div class="container-fluid">
    <!-- Componente para la fecha de hoy -->
    <div *ngFor="let fecha of fechas" class="row mb-4">
      <div class="col-12 col-md-2">
        <div class="date-box">
          <div><strong>Fecha</strong></div>
          <strong>{{fecha}}</strong>
        </div>
        <div class="date-box"><strong>Cancha 1</strong></div>
        <div class="date-box"><strong>Cancha 2</strong></div>
      </div>
      <div class="col-12 col-md-10">
        <div class="grid d-flex flex-wrap mt-2">
            <div *ngFor="let hora of horarios"  cdkDrag class="d-flex flex-column align-items-center">
              <div class="time-box"><strong>{{hora}}</strong></div>
              <ng-container  *ngIf="getTurnoByHora(hora,fecha)!=null && turno.cancha==1;else sinturno" >
                <div 
                [ngStyle]="{'background-color': turno.color}"
                [ngClass]="{'expanded': turno.jugador1.nombre && turno.jugador2.nombre}" 
                class="expandable-box">
                {{turno.jugador1.nombre +" vs "+ turno.jugador2.nombre}}
                <br>
                {{turno.categoria}}  
                </div>
              </ng-container>
              <ng-template #sinturno>
                <div class="expandable-box" style="background-color: grey;">
                </div>
              </ng-template>  
              <ng-container  *ngIf="getTurnoByHora(hora,fecha)!=null && turno.cancha==2;else sinturno2" >
                <div 
                [ngStyle]="{'background-color': turno.color}"
                [ngClass]="{'expanded': turno.jugador1.nombre && turno.jugador2.nombre}" 
                class="expandable-box">
                {{turno.jugador1.nombre +" vs "+ turno.jugador2.nombre}}<br>{{turno.categoria}}  
                </div>
              </ng-container>
              <ng-template #sinturno2>
                <div class="expandable-box" style="background-color: grey;">
                </div>
              </ng-template> 
              </div>
            </div>
        </div>
      </div> 
    </div>
  