<div class="container-fluid">
    <!-- Componente para la fecha de hoy -->
    <div *ngFor="let fecha of fechas" class="row mb-4">
      <div class="col-12 col-md-2">
        <div class="date-box">
          <div><strong>Fecha</strong></div>
          <strong>{{fecha}}</strong>
        </div>
        <div class="date-box"><strong>Cancha 1</strong></div>
        <div class="date-box"><strong>Cancha 2</strong></div>
      </div>
      <div class="col-12 col-md-10">
        <div class="grid d-flex flex-wrap mt-2">
            <div *ngFor="let hora of horarios" class="d-flex flex-column align-items-center">
              <div class="time-box"><strong>{{hora}}</strong></div>
              <ng-container  *ngIf="getTurnoByHora(hora,fecha)!=null && turno.cancha==1;else noexiste" >
                <div 
                [ngStyle]="{'background-color': turno.color}"
                [ngClass]="{'expanded': turno.jugador1 && turno.jugador2}" 
                class="expandable-box">
                {{turno.jugador1 +" vs "+ turno.jugador2}}
                <br>
                {{turno.categoria}}  
                </div>
              </ng-container>
              <ng-template #noexiste>
                <div class="expandable-box">
                  <button type="button" class="btn btn-success" style="--bs-btn-padding-y: .05px; --bs-btn-padding-x: 15px; --bs-btn-font-size: 11px;">
                    <div style="font-size: 12px;">+</div><p>Agregar <br>Turno</p>
                  </button>
                </div>
              </ng-template> 
              <ng-container  *ngIf="getTurnoByHora(hora,fecha)!=null && turno.cancha==2;else noexiste" >
                <div 
                [ngStyle]="{'background-color': turno.color}"
                [ngClass]="{'expanded': turno.jugador1 && turno.jugador2}" 
                class="expandable-box">
                {{turno.jugador1 +" vs "+ turno.jugador2}}<br>{{turno.categoria}}  
                </div>
              </ng-container>
              <ng-template #noexiste>
                <div class="expandable-box">
                  <button type="button" class="btn btn-success" style="--bs-btn-padding-y: .05px; --bs-btn-padding-x: 15px; --bs-btn-font-size: 11px;">
                    <div style="font-size: 12px;">+</div><p>Agregar <br>Turno</p>
                  </button>
                </div>
              </ng-template> 
              </div>
            </div>
        </div>
      </div> 
    </div>
  